<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" href="../src/bootstrap-4.0.0-beta/dist/css/bootstrap.min.css">
  <link rel="stylesheet" href="../src/css/estilo.css">
  <script src="../src/js/jquery.min.js"></script>
  <script src="../src/js/jquery.js"></script>
  <script src="../src/bootstrap-4.0.0-beta/dist/js/bootstrap.min.js"></script>
  <script src="../src/js/functions.js"></script>
  <title>Check-in</title>
</head>

<body class="parallax">

  <div class="card container">
    <div id="Checkin" class="DatosUsuario">
      <label for="TitleCheckIn">Chek-In</label>
    </div>

  </div>
</body>

</html>
